<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-secondary">Employee Management</h2>

    @if (isAdmin) {
    <a routerLink="/employee-form" class="btn btn-primary shadow-sm">+ Add New
        Employee</a>
    }
</div>

@if (isLoading) {
<div class="text-center my-5">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-2 text-muted">Fetching data from server...</p>
</div>
} @else {
<div class="card shadow-sm border-0">
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Dept ID</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (emp of employeesList; track emp.id) {
                <tr>
                    <td>#{{ emp.id }}</td>
                    <!-- دمج الاسم الأول والأخير -->
                    <td class="fw-bold">{{ emp.firstName }} {{ emp.lastName
                        }}</td>
                    <td>{{ emp.email }}</td>
                    <!-- عرض معرف القسم (مؤقتاً حتى نربطه باسم القسم لاحقاً) -->
                    <td>{{ emp.departmentId }}</td>
                    <td>
                        <!-- الباك إند يستخدم isActive كقيمة منطقية (Boolean) -->
                        <span class="badge rounded-pill"
                            [class.bg-success]="emp.isActive"
                            [class.bg-danger]="!emp.isActive">
                            {{ emp.isActive ? 'Active' : 'Inactive' }}
                        </span>
                    </td>
                    <td>
                        <button
                            class="btn btn-sm btn-outline-info me-1">View</button>

                        @if (isAdmin) {
                        <button class="btn btn-sm btn-outline-danger"
                            (click)="onDelete(emp.id)">Delete</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}